# pnpm configuration
engine-strict=true
pnpm-version=8.15.4
resolve-peer-dependencies=true

# Registry
registry=https://registry.npmjs.org/

# Network timeout (ms)
fetch-timeout=120000
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000

# Git SSH depth
# fetch-depth=1

# Prevent husky from running
auto-install-peers=true
